/node_modules

/public/hot
/public/storage
/public/mix-manifest.json

/storage/*.key
/storage/app/*.json

.idea
/vendor
/bootstrap/cache/*

.env
.env.backup
package-lock.json
composer.lock

.phpunit.result.cache
docker-compose.override.yml

npm-debug.log
yarn-error.log

Homestead.json
Homestead.yaml

**/error_log
**/.DS_Store
