/node_modules

/public/hot
/public/storage
/public/mix-manifest.json

/storage/*.key
/storage/app/*.json

/vendor

.env
.env.backup

.idea
.phpunit.result.cache
docker-compose.override.yml

npm-debug.log
yarn-error.log

Homestead.json
Homestead.yaml

**/.DS_Store