// Skeleton loading
@-webkit-keyframes skeleton-bone {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(100%)
  }
}

@keyframes skeleton-bone {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(100%)
  }
}