// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


// App
html {
  scroll-behavior: smooth;
}

svg {
  @apply inline-block;
}

textarea {
  min-height: 4.25rem;
}

.has-error {
  @apply border-red-300;
}

label {
  @apply select-none;

  &.required {
    &:after {
      content: '*';
      color: theme('colors.red.500');
      margin-left: .25rem;
    }
  }
}

.form-select {
  background-position: right 0.625rem center;
  background-size: 1.625em 1.625em;
}

input[type="date" ] {
  &::-webkit-calendar-picker-indicator {
    outline: none !important;
    cursor: pointer;
  }
}

// Switcher
.switcher input {
  &:checked {
    & + .switcher-bg {
      background-color: theme('colors.green.600');
    }

    & ~ .switcher-dot {
      transform: translate(calc(100% - .25rem), -50%);
    }
  }
}

// Sidebar
aside {
  nav {
    > ul {

      // Parent
      > li {
        > .active, .router-link-exact-active {
          color: theme('colors.black');

          > svg {
            fill: theme('colors.black');

            &:nth-child(2) {
              transform: rotate(180deg);
            }
          }

          // Children
          & + ul {
            display: block !important;

            li {
              a {
                &.router-link-active {
                  color: theme('colors.black');

                  span {
                    border-color: theme('colors.black');
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Tables
table {
  tbody {
    tr {
      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 0.5rem;
          }

          &:last-child {
            border-bottom-right-radius: 0.5rem;
          }
        }
      }
    }
  }
}