// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


// App
html {
  scroll-behavior: smooth;
}

main {

}

svg {
  display: inline-block;
}

input[type="date" ] {
  &::-webkit-calendar-picker-indicator {
    outline: none !important;
    cursor: pointer;
  }
}

// Sidebar
aside {
  nav {
    > ul {

      // Parent
      > li {
        > .active, .router-link-exact-active {
          color: theme('colors.black');

          > svg {
            fill: theme('colors.black');

            &:nth-child(2) {
              transform: rotate(180deg);
            }
          }

          // Children
          & + ul {
            display: block !important;

            li {
              a {
                &.router-link-exact-active {
                  color: theme('colors.black');

                  span {
                    border-color: theme('colors.black');
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Tables
table {
  tbody {
    tr {
      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 0.5rem;
          }

          &:last-child {
            border-bottom-right-radius: 0.5rem;
          }
        }
      }
    }
  }
}